.chat-bottom {
    background-color: #2C65C8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 120px;
    width: 250px;
  }

.chat-bottom-icon {
    display: flex;
    align-items: center;
}

.list-item-content {
    display: flex;
    align-items: center;
}

.chat-popup {
background-color: white;
display: none;
  position: fixed;
  bottom: 0;
  width: 248px;
  right: 120px;
  border: 1px solid black;
  z-index: 8;
  }